.all-actions
    background: $color-black
    padding: 2.5rem 16rem 5rem 15.7rem
    margin-bottom: 5.6rem
    &-links
        margin-bottom: 4.4rem
    &-link
        color: $color-f2
        font-size: 1.2rem
        transition: all .3s
        &:hover
            color: $color-orange
            cursor: pointer
            text-decoration: none
        &:active
            color: $color-white
    &-blocks
        display: flex
        justify-content: space-between
    &-block
        &-title
            color: $color-white
            font-size: 2.1rem 
            font-weight: 500
        img
            margin-bottom: 1rem


.categories
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 10.7rem 
    margin-bottom: 5rem
    

.choose
    padding: 0 16rem
    &-blocks
        display: flex
        align-items: center
        justify-content: space-between